# MTK project .rc configure

import /vendor/etc/init/init.batterysecret.rc
import init.mishow.ctl.rc

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    write /sys/module/musb_hdrc/parameters/mu3d_force_on 1

on post-fs-data
    chmod 0666 /sys/module/migt/parameters/mi_viptask
    restorecon /sys/module/migt/parameters/mi_viptask

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

#XIAOMI_DUAL_CAM_BIN
    mkdir /mnt/vendor/persist/camera/ 0777 system camera
    mkdir /data/vendor/camera/ 0777 system camera
# for intsense bokeh use
    mkdir /data/vendor/camera/model 0777 system camera
    mkdir /data/vendor/camera/model/dof_model 0777 system camera
    mkdir /data/vendor/camera/model/rt_model 0777 system camera

    copy /vendor/etc/camera/model/dof_model/capture_cache /data/vendor/camera/model/dof_model/capture_cache
    copy /vendor/etc/camera/model/dof_model/capture_model /data/vendor/camera/model/dof_model/capture_model
    copy /vendor/etc/camera/model/dof_model/capture_policy /data/vendor/camera/model/dof_model/capture_policy
    copy /vendor/etc/camera/model/rt_model/preview_cache /data/vendor/camera/model/rt_model/preview_cache
    copy /vendor/etc/camera/model/rt_model/preview_model /data/vendor/camera/model/rt_model/preview_model
    copy /vendor/etc/camera/model/rt_model/preview_policy /data/vendor/camera/model/rt_model/preview_policy

    chmod 0777 /data/vendor/camera/model/dof_model/capture_cache
    chmod 0777 /data/vendor/camera/model/dof_model/capture_model
    chmod 0777 /data/vendor/camera/model/dof_model/capture_policy
    chmod 0777 /data/vendor/camera/model/rt_model/preview_cache
    chmod 0777 /data/vendor/camera/model/rt_model/preview_model
    chmod 0777 /data/vendor/camera/model/rt_model/preview_policy

# for mishow
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0777 /sys/class/power_supply/battery/input_suspend

# for mibokeh use
    mkdir /data/vendor/camera/mibokeh 0776 system camera

#SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

    chown system system /sys/class/power_supply/battery/charging_call_state
    chmod 0660 /sys/class/power_supply/battery/charging_call_state


on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
    # export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled

on property:sys.boot_completed=1
    write /sys/class/power_supply/usb/boot_complete 1
