service nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.st
    override
    class hal
    user nfc
    group nfc
    disabled

on init && property:ro.boot.product.hardware.sku=camellian
    enable nfc_hal_service

on init && property:ro.boot.product.hardware.sku=camellianp
    enable nfc_hal_service
