service nfc_hal_service /vendor/bin/hw/android.hardware.nfc-service.st
    override
    class hal
    user nfc
    group nfc
    disabled

on init && property:ro.boot.product.hardware.sku=nfc
    start nfc_hal_service
