on property:sys.boot_completed=1

    # Scheduler tunables
    write /proc/sys/kernel/sched_tunable_scaling 0
    write /proc/sys/kernel/sched_latency_ns 10000000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 2000000
    write /proc/sys/kernel/sched_min_granularity_ns 1250000
    write /proc/sys/kernel/sched_child_runs_first 0

    # Assign reasonable ceiling values for socket rcv/snd buffers.
    write /proc/sys/net/core/rmem_max 262144
    write /proc/sys/net/core/wmem_max 262144

    # Reflect fwmark from incoming packets onto generated replies
    write /proc/sys/net/ipv4/fwmark_reflect 1
    write /proc/sys/net/ipv6/fwmark_reflect 1

    # Set fwmark on accepted sockets
    write /proc/sys/net/ipv4/tcp_fwmark_accept 1

    # Enable tcp fastopen
    write /proc/sys/net/ipv4/tcp_fastopen 3

    # Set MTU probing and timestamps to 2
    write /proc/sys/net/ipv4/tcp_mtu_probing 2
    write /proc/sys/net/ipv4/tcp_timestamps 2

    # Disable icmp redirects
    write /proc/sys/net/ipv4/conf/all/accept_redirects 0
    write /proc/sys/net/ipv6/conf/all/accept_redirects 0

    # Set tcp congestion control
    write /proc/sys/net/ipv4/tcp_congestion_control cubic

    # Memory management
    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4

    # Tweak background writeout
    write /proc/sys/vm/dirty_expire_centisecs 200
    write /proc/sys/vm/dirty_background_ratio  5

    # Tweak writeback
    write /proc/sys/vm/dirty_writeback_centisecs 300

    # Enable ppm
    write /proc/ppm/enabled 1

    # Tweak PPM
    write /proc/ppm/policy_status 2 0
    write /proc/ppm/policy_status 3 0
    write /proc/ppm/policy_status 4 0

    # Cluster fix
    write /proc/ppm/policy/ut_fix_core_num 6 2

    # CPU frequency power mode
    write /proc/cpufreq/cpufreq_power_mode 3

    # FS tune
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sdb/queue/iostats 0
    write /sys/block/sdb/queue/read_ahead_kb 128
    write /sys/block/sdb/queue/nr_requests 128
    write /sys/block/sdc/queue/iostats 0
    write /sys/block/sdc/queue/read_ahead_kb 512
    write /sys/block/sdc/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    write /sys/block/dm-2/queue/read_ahead_kb 128
    write /sys/block/dm-3/queue/read_ahead_kb 128
    write /sys/block/dm-4/queue/read_ahead_kb 128
    write /sys/block/dm-5/queue/read_ahead_kb 128

    # Disable fsync
    write /sys/module/sync/parameters/fsync_enabled N

    # Disable watermark boost
    write /proc/sys/vm/watermark_boost_factor 0

    # Disable compaction_proactiveness
    write /proc/sys/vm/compaction_proactiveness 0

    # ZRAM tweaks
    write /proc/sys/vm/page-cluster 3
    write /proc/sys/vm/swappiness 100
    write /sys/kernel/mm/swap/vma_ra_enabled false
